


@media  (max-width:550px){

    /* responsividade nav */
    
    nav #desktop{
        display: none;
    }  
    nav .container-conteudo{
        display: none;
        
    }
    nav .conaitner-mobile{
        display: block;
        width: 90%;
        
        margin: auto;
    }
    nav .mobile{
        display: flex;
        justify-content: space-between;
    }
    nav .mobile .logo{
        width: 70%;
        font-size: 25px;
    }
    nav .mobile .btn-nav-mobeli{
        width: 120px;
        height: 45px;
        margin-top: 26px;
        border-radius: 10px;
        border: none;
    }

    /* responsividade sec-01 */
    .sec-01{
       height: 800px;
        
        background-image: url(/assets/img/fundo-mobile.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .container-sec-o1{
        margin-top: 40px;

    }
    .img-sec-01{
       width: 60%;
       height: 100px;
    }
    .container-sec-o1 h1{
        font-size: 45px;
    }
    .container-sec-o1 h5{
        font-size: 20px;
    }
}
    