


@media  (max-width:550px){

    /* responsividade nav */
    
    nav #desktop{
        display: none;
    }  
    nav .container-conteudo{
        display: none;
        
    }
    nav .conaitner-mobile{
        display: block;
        width: 90%;
        
        margin: auto;
    }
    nav .mobile{
        display: flex;
        justify-content: space-between;
    }
    nav .mobile .logo{
        width: 70%;
        font-size: 25px;
    }
    nav .mobile .btn-nav-mobeli{
        width: 120px;
        height: 45px;
        margin-top: 26px;
        border-radius: 10px;
        border: none;
    }

    /* responsividade sec-01 */

    .sec-01{
       height: 900px;
        
        background-image: url(/assets/img/fundo-mobile.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .container-sec-o1{
        margin-top: 40px;

    }
    .img-sec-01{
       width: 60%;
       height: 100px;
    }
    .container-sec-o1 h1{
        font-size: 45px;
    }
    .container-sec-o1 h5{
        font-size: 20px;
    }

    /* responsividade sec-02 */

    .sec-02{
        margin-top: -1px;
        height: 500px;
    }
    .flex-sec-02{
        width: 100%;
        flex-direction: column-reverse;
    }
    .text-sec-02{
        width: 95%;
        margin: 0 auto;
        padding: 0px;
        margin-top: 30px;


    }
    .text-sec-02 h1{
        font-size: 30px;
    }
    .img-sec-02{
        width: 90%;
        height: 400px;
        margin:0 auto;
        background-size: 100% 100%;
        margin-top: -400px;
    }

    /* sec03 */

    .flex1-sec-03{
        flex-direction: column;
    }
    .card1, .card2, .card3, .card4, .card5{
        width: 90%;
        margin: auto;
        
        
    }
    .img-card2{
        display: none;
    }
    .text-card2{
        width: 90%;
    }
    .sec-03 .card1 h1{
        font-size: 30px;
    }
    .sec-03 .card2 h1{
        font-size: 30px;
    }
    .sec-03 .card3 h1{
        font-size: 30px;
    }
    .sec-03 .card4 h1{
        font-size: 30px;
    }
    .sec-03 .card5 h1{
        font-size: 30px;
    }
    .flex2-sec-03{
        flex-direction: column;
    }
    .img-card4{
        display: none;
    }
    .img-card5{
        display: none;
    }
    .txt-card4{
        width: 90%;
    }
    .card5 .text-car5{
        width: 90%;
    }
    .card4, .card5{
        height: 450px;
    }

   /* sec 04 */

   .flex-sec04{

    flex-direction: column;
    .card1-sec4, .card2-sec4, .card3-sec4{
    width: 90%;
    height: 800px;
    margin-top: 50px;
    
    }        
    align-items: center;
    }
    .sec-4{
        height: 3800px;
    }
    .txt-sec-4{
        
        width: 90%;
        height: 150px;
        margin-top: 950px;
        margin-bottom: 0px;
        
    }
    .txt-sec-4 h5{
        font-size: 35px;
        line-height: 30px;
        margin-top: 10px;
    }
   
   
}
    